<section class="flex flex-col w-full p-4 bg-gray-800">
  <div class="flex flex-col lg:flex-row">
    <iframe src="https://ghbtns.com/github-btn.html?user=andrewmcodes&repo=stimulus_reflex_table_filter&type=star&count=true" frameborder="0" scrolling="0" style="height:20px;" class="my-2 lg:my-0 lg:w-1/4"></iframe>
    <iframe src="https://ghbtns.com/github-btn.html?user=andrewmcodes&repo=stimulus_reflex_table_filter&type=fork&count=true" frameborder="0" scrolling="0" style="height:20px;" class="my-2 lg:my-0 lg:w-1/4"></iframe>
    <iframe src="https://ghbtns.com/github-btn.html?user=hopsoft&type=follow&count=true" frameborder="0" scrolling="0" style="height:20px;" class="my-2 lg:my-0 lg:w-1/4"></iframe>
    <iframe src="https://ghbtns.com/github-btn.html?user=andrewmcodes&type=follow&count=true" frameborder="0" scrolling="0" style="height:20px;" class="my-2 lg:my-0 lg:w-1/4"></iframe>
  </div>
  <h2 class="text-2xl text-white text-center font-bold mt-8">I had a lot of fun building this demo with <a class="underline" href="https://docs.stimulusreflex.com">StimulusReflex</a>.</h2>
</section>
